<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>hi!</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- my css -->
    <link rel="stylesheet" href="css/style.css">
    <!--  -->
    <!-- font awesome -->
    <script src="https://use.fontawesome.com/5b4025bff4.js"></script>
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- bootstrap js -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- d3 -->
    <svg width="500" height="300"></svg>
    <script src="http://d3js.org/d3.v4.min.js"></script>
</head>

<body>
    <%- body %>

    <!-- my scripts -->
    <script type="text/javascript" src="/javascript/script.js"></script>
</body>

</html>
