<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="main">
                <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title text-center"><span class="fa fa-smile-o"></span> Here is your charts! <span class="fa fa-smile-o"></span></h3>
                </div>
                <div class="panel-body">
                    <a href="/mindmap" class="btn btn-lg btn-default col-md-12"><span class="fa fa-line-sitemap"></span> Mindmap</a>
                </div>
            </div>
            </div>
            
        </div>
    </div>
</div>
